
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), class: 'registration-main') do |f| %>


<div class="sign-form">

  <div class="sign-title">
  <h2>Sign up</h2>
  </div>

  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="sign-field">
    <%= f.label :name %><br />
    <%= f.text_field :name, class: 'n-field' %>
  </div>

  <div class="sign-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'e-field' %>
  </div>

  <div class="sign-field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: 'p-field', placeholder: '6 character minimum' %>
  </div>

  <div class="sign-field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: 'p-field' %>
  </div>

  <div class="sign-actions">
    <%= f.submit "Sign up", class: 's-field' %>
  </div>

<%= render "devise/shared/links" %>

</div>
<% end %>
