<div class="topic-show">
  <div class="topic-box">
    <div class="topic-name">
      <%= @topic.topic_name %>
    </div>

    <div class="topic-content">
      <%= @topic.topic_content %>
    </div>

    <% if current_user.id == @topic.user_id %>
    <%= link_to user_path(current_user.id) do %>
    <div class="topic-user">
      <%= @topic.user.name %>
    </div>
    <% end %>
    <% else %>
    <div class="topic-user">
      <%= @topic.user.name %>
    </div>
    <% end %>
  </div>

  <div class="comment-box">
    <div class="comment">
      <% if user_signed_in? %>
        <%= form_with(model: [@topic, @comment], local: true) do |f| %>
          <%= f.text_area :content, placeholder: "コメントする", rows: "2" %>
          <%= f.submit "SEND" %>
        <% end %>
      <% else %>
        <strong><p>コメント投稿には新規登録/ログインが必要です</p></strong>
      <% end %>

      <div class="comments">
      <h4>＜コメント一覧＞</h4>
      <% @comments.each do |comment| %>
        <p>
          <strong><%= link_to comment.user.name, "/users/#{comment.user_id}" %>：</strong>
          <%= comment.content %>
        </p>
      <% end %>
    </div>
    </div>
  </div>
</div>
