<div class="topic-show">
  <div class="topic-box">
    <div class="topic-name">
      <%= @topic.topic_name %>
    </div>

    <div class="topic-content">
      <%= @topic.topic_content %>
    </div>

    <% if current_user.id == @topic.user_id %>
    <%= link_to user_path(current_user.id) do %>
    <div class="topic-user">
      <%= @topic.user.name %>
    </div>
    <% end %>
    <% else %>
    <div class="topic-user">
      <%= @topic.user.name %>
    </div>
    <% end %>
  </div>
</div>
