<header class="show-head">
  <% if current_user == @topic.user %>
    <div class="edit-delete">
    <div class="show-edit">
      <%= link_to '編集', edit_topic_path(@topic.id), class: 'show_edit' %>
    </div>
    <div class="show-destroy">
      <%= link_to '削除', topic_path(@topic.id), class: 'show_destroy', method: :delete %>
    </div>
    </div>
  <% else %>
    <div class="edit-delete">
    <div class="show-nav">
    相談詳細ページ
    </div>
    </div>
  <% end %>
</head>
<div class="topic-show">
  <div class="topic-box">
    <div class="topic-name">
      <%= @topic.topic_name %>
    </div>

    <div class="topic-content">
      <%= @topic.topic_content %>
    </div>

    <% if current_user == @topic.user %>
    <div class="topic-user">
    by:
    <%= link_to user_path(current_user.id), class: "user" do %>
      <%= @topic.user.name %>
    <% end %>
    </div>
    <% else %>
    <div class="topic-user">
      <%= @topic.user.name %>
    </div>
    <% end %>
  </div>

  <% if @comments.present?%>
    <div class="comment-box">
        <div class="come-row">＜コメント一覧＞</div>
          <div class="comments">
            <% @comments.each do |c| %>
              <% if user_signed_in? %>
                <p>
                  <strong><%= link_to c.user.name, "/users/#{c.user_id}", class: 'come-user' %>：</strong>
                  <%= c.content %>
                </p>
              <% else %>
                <p>
                  <strong><%= c.user.name %>：</strong>
                  <%= c.content %>
                </p>
              <% end %>
            <% end %>
          </div>
        </div>
      <div class="comment-btn">
        <div class="com-btn">
          <% if user_signed_in? %>
            <%= link_to topic_comments_path(@topic.id), class: 'btn' do %>
                コメントする
            <% end %>
          <% else %>
            <strong><p>コメント投稿には新規登録/ログインが必要です</p></strong>
          <% end %>
        </div>
      </div>
  <% else %> 
      <div class="comment-btn">
        <div class="com-btn">
          <% if user_signed_in? %>
            <%= link_to topic_comments_path(@topic.id), class: 'btn' do %>
                コメント
            <% end %>
          <% elsif user_signed_in? && @comments == nil %>
            <%= link_to topic_comments_path(@topic.id), class: 'btn' do %>
                コメント
            <% end %>
          <% else %>
            <strong><p>コメント投稿には新規登録/ログインが必要です</p></strong>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
