<div class="contents row">
  <p><%= @name %>さんの相談一覧</p>
  <% @topics.each do |topic| %>
    <div>
      <span class="name"><%= topic.topic_name %></span>
      <p><%= topic.topic_content %></p>
    </div>
    <%= link_to '編集', edit_topic_path, method: :get, class: "edit-btn" %>
    <%= link_to "削除", topic_path, method: :delete, class: "delete-btn" %>
  <% end %>
</div>