
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<div class="log-form">

  <div class="log-title">
  <h2>Log in</h2>
  </div>

  <div class="log-field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email",class:'e-log' %>
  </div>

  <div class="log-field">
    <%= f.label :password %><br />
    <%= f.password_field :password, autocomplete: "current-password",class:'p-log' %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="log-field">
      <%= f.check_box :remember_me, class:'check' %>
      <%= f.label :remember_me %>
    </div>
  <% end %>

  <div class="log-actions">
    <%= f.submit "Log in",class:'s-log' %>
  </div>

  <%= render "devise/shared/links" %>

</div>

<% end %>


